body{
  text-align : center;
  font-style: Tahoma;
}

.app{
  justify-content: center;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height : 100vh;
}

.card{
  margin: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 20px;
  height: 200px;
  width: 300px;
}

.search{
  display: flex;
}

.btn{
  border-radius: 10px;
  border : 0px;
  padding : 10px 20px;
  cursor: pointer;
  font-family: "Gill Sans", sans-serif;
}

.input{
  border-radius: 6px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border : 0px;
  font-size: 20px;
  margin: 10px;
}